*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* ========================== common ==================== */
/* container */
.section3-contaier , .section1 , .section2-container , .sec4-container , .section5 , .section6-container 
{
    width: 100%;
    height: 100vh;
}
/* Fonts */
.sec3-header , .section1-header , .section2-header-main , .sec3-title , .sec3-par , .sec4-header , .sec4-p , .sec4-lists , 
.sec5-parent  span , .sec5-parent  p , .sec6-header , .sec6-child-header , .sec6-circle p , .sec3-4owet-kalam p , .name  
, .job , .kalam , .sec8-header , .sec8-h2 , .sec8-h5 , .sec9-header , .sec9-child span , .sec9-child p , .sec9-child a
{
    text-align: center;
     font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    text-transform: capitalize;
    font-size: 40px;


}
/* layout  */
.home-layout , .sec5-layout , .sec8-layout
{
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}
/* after  */

.header-list-elements li a::after , .blog-list li a::after
{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    right: 50%;
    opacity: 1;
    transition: 0.5s;
}
.header-list-elements li a:hover::after , .blog-list li a:hover::after 
{
    width: 100%;
    height: 2px;
    left: 0;
    right: 0;
    background-color: #b6b6b6;
    opacity: 1;
}
/* section 5 and 7 */
.sec5-parent , .sec7-parent
{
    width: 100%;
    height: 60%;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center; 
     background-attachment: fixed;
     position: relative;
}

/* ========================================================== */
                    /* ================================== header ========================================= */
         /* ---------------------------------------------left hand side -------------------------------------------- */
.header
{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #4a5b6a99;
    
}
.header-search
{
    position: relative;
    height: 100%;
    padding-top: 5px;
    margin-left: 40px;
}
.header-search a i
{
    position: absolute;
    color: #fff;
    font-size: 30px;
}
.header-input
{
    width: 300px;
    height: 30px;
    margin-left: 60px;
    border-radius: 20px;
    border: none;
    padding-left:60px ;
}
.fa-magnifying-glass
{
    position: absolute;
    color: black;
    padding-left: 70px;
    padding-top: 5px;
    font-size: 20px;

}
                /* -------------------------------------------------------------------------------------------------------- */
                /* --------------------------------------------- right hand side -------------------------------------------- */
.header-list-elements
{
    position: absolute;
    right: 0;
    top: 10px;
}
.header-list-elements li
{
    display: inline;
    margin-right: 30px;
}
/* ==================================================== */
.header-list-elements li a
{
    color: #e7e7e7;
    text-decoration: none;
    font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: relative;
  padding-bottom: 5px;
}
/* ============================================================ */
.header-blog
{
    width: 150px;
    top: 25px;
    background-color: #728495;
    position: absolute;
    right: 10%;
    border-radius: 10px;
    padding: 20px;
    visibility: hidden;
    border:1px solid #b6b6b6;
}
.blog-list
{
    list-style: none;
}
.blog-list li a
{
    display: block;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}
.blog-list li a::after
{
    background-color: #98a9be;
    opacity: 1;
    transition: 0.5s;
}
.blog-list li a:hover::after 
{
    background-color: #98a9be;
}
.blog-to-show:hover .header-blog
{
    visibility: visible;
}
/* -------------------------------------------------------------------------------------------------------- */
.home-container
{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../img/photo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home-text
{
    position: absolute;

    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: #fff;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.home-p
{
    letter-spacing: 2px;
    word-spacing: 4px;
}
.home-header
{
    font-size: 50px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.btn
{
    padding:10px;
    border: none;
    border-radius: 10px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-left: 10px;
}
.btn1
{
    background-color: #728495;
    margin-left: -10px;
}
.btn:hover
{
    opacity: 0.6;
    transform: scale(1.1);
}
.home-header
{
    font-size: 60px;
}
.home-p
{
    font-size: 16px;

}
.home-p , .home-header
{
    padding-bottom: 6px;

}

/* ================================================================= section 1 ===================================================================== */
.section1
{
    text-align: center;
}
.section1-header-child , .section1-child-p , .section1-childs-read
{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.shape-for-all
{
    width: 150px;
    height: 2px;
    background-color: #4a5b6a99;
    margin: auto;
    margin-top:10px ;

}
.section1-parent
{
    margin-top: 50px;
}
.section1-children
{
    float: left;
    width: 30%;
    margin-left: 2.5%;
    padding: 20px 0;
    border: 1px solid #4a5b6a99;
    border-radius: 10px;
    position: relative;
    margin-top: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}
 .section1-child-p
{
    padding-bottom: 10px;
}
.section1-header-child
{
    padding: 10px 0;
}
.section1-children i 
{
    font-size: 50px;
    color:#728495 ;
}
.section1-child-p
{
    color:#728495 ;
    padding: 20px 0;
}
.section1-childs-read
{
    color: #455462;
    text-decoration: none;
}
.section1-children::after
{
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    content: "";
    right: 50%;
    bottom: 50%;
    top: 50%;
    left: 50%;
    background-color: rgba(114, 132, 149);
    opacity: 0.4;
    border-radius: 10px;
    transition: 0.5s;
}
.section1-children:hover::after
{
    width: 100%;
    height: 100%;
    opacity: 0.4;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(114, 132, 149);
}
.section1-children:hover .section1-header-child 
{
    color: #fff;
}
 .section1-header 
{
    margin-top: 100px;
}
.section1-parent
{
    margin-top: 30px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */


/* ================================================================= section 2 ===================================================================== */
.section2-container
{
    background-color: rgba(152, 169, 190,0.4);
}
.section2-header
{
    text-align: center;
    padding-top: 40px;
}
.section2-child
{
    width: 30%;
    height:210px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #455462;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);

}
.section2-child
{
    float: left;
    margin-left: 2.5%;
    margin-top: 20px;
}
.section2-child1
{
    background-image: url(../img/child1.jpg);
}
.section2-child2
{
    background-image: url(../img/child2.jpg);
}
.section2-child3
{
    background-image: url(../img/child3.jpg);
}
.section2-child4
{
    background-image: url(../img/child4.webp);
}
.section2-child5
{
    background-image: url(../img/child5.jpg);
}
.section2-child6
{
    background-image: url(../img/child6.jpg);
}
.s2-cate h2 , .s2-cate h4 , .section2-child i
{
    text-align: center;
    color: #fff;
    padding-top: 30px;
}
.s2-text
{
    font-size: 15px;
}
.s2-cate h2 , .s2-cate h4 
{
    margin: auto;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    opacity: 0.6;
}
.s2-cate .fa-pinterest
{
    margin-left: 160px;
}
.s2-layout
{
    width: 100%;
    height: 100%;
    background-color: rgba(69, 84, 98,0.8);
    visibility: hidden;
    border-radius: 10px;
}
.section2-child:hover .s2-layout
{
    visibility:visible;
}


/* -------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ================================================================= section 3 ===================================================================== */

.sec3-child
{
    width: 20%;
    height: 190px;
    border: 1px solid #728495;
    border-radius: 10px;
    position: relative;
    padding: 5px;
    margin-top: 50px;
    float: left;
    margin-left: 10%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}
.sec3-child a i
{
    color:#728495 ;
    font-size: 39px;
}

.sec3-content
{
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    padding:6px;
}
.sec3-title
{
    font-size: 25px;
}
.sec3-par
{
    font-size: 14px;
    color: #728495;
}
.sec3-child::after
{
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;

    content: "";

    right: 50%;
    bottom: 50%;
    top: 50%;
    left: 50%;

    background-color: rgba(114, 132, 149);
    opacity: 0.4;
    border-radius: 10px;
    transition: 0.5s;
}
.sec3-child:hover::after
{
    width: 100%;
    height: 100%;
    opacity: 0.4;


    bottom: 0;
    top: 0;
    right: 0;
    left: 0;

    border-radius: 10px;
    color: #fff;

    background-color: rgba(114, 132, 149);
}

.sec3-child:hover .sec3-title
{
    color: #728495;
}
.peace-ofmind
{
    margin-top: 10px;
}
.sec3-header
{
    margin-top: 100px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ================================================================= section 4 ===================================================================== */

/* ---------------------------------------------------- left ---------------------------------------------- */
.sec4-left
{
    width: 30%;
    margin-left: 50px;
    float: left;
}


.sec4-header
 {
    text-align: left;
    padding-bottom: 20px;
    padding-left: 10px;
    /* font-size: 40px; */
 }
.sec4-shape
{

    padding: 0;
    margin: 0;
    width: 100px;
    margin-left: 20px;
}
.sec4-p,.sec4-header 
{
    padding-top: 10px;
    padding-bottom: 10px;
    word-spacing: 4px;
}
.sec4-p 
{
    font-size: 18px;
    text-align: left;
    
    padding-top: 60px;
}
.sec4-lists 
{
    list-style: none;
    font-size: small;
    text-align: left;
    /* padding-top: 40px; */


}
.sec4-lists li
{
    margin-top: 15px;
    color: rgb(69, 84, 98);

}
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------- right ---------------------------------------------- */

.sec4-right
{
    width: 42%;
    /* height: 400px; */
    margin-left: 300px;
    /* padding-top: 20px; */
    background-color: black;
    border-radius: 90px 0 0 90px;
    float: right;
    box-shadow: -5px 0px 12px rgba(69, 84, 98, 1);



}
.sec4-photo
{
    width: 100%;
    height: 400px;
    background-image: url(../img/boat.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    margin: auto;
    border-radius: 90px 0 0 90px;

}
.sec4-right i
{
    padding-top: 10px;
    padding-left: 30px;
    color: #4a5b6a99;
}
 .sec4-right .circle1
{
    margin-left: 120px;
    color: #455462;

}
.sec4-right i:hover
{
    color: rgb(69, 84, 98);
    cursor: pointer;

}
.sec4-parent
{
    margin-top: 120px;
}
/* ---------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* =========================================================== section 5 ============================================================= */
.sec5-parent
{
     background-image: url(../img/photo1.jpg);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);

}
.sec5-parent, .sec5-parent .sec5-layout
{
     border-radius: 100px 0 100px 0;
    background-color: rgba(0, 0, 0, 0.6);


}
.sec5-ic
{
    float: left;
}
.sec5-parent .sec5-ic 
{
    color: #fff;
    margin: 10%  0 0 350px;
    width: 10%;
    /* margin-left: 15%; */

}
.sec5-parent i
{
    font-size: 40px;
    color: #b6b6b6;
}
.sec5-parent  p
{
    text-align: center;
    padding-top: 3px;
    margin-left: -64px;
    font-size: 40px;

}
.sec5-parent  span
{
    font-size: 15px;
    text-align: center;
    margin-left: -16px;


}
.ic2 p 
{
    margin-left: -80px;
}


/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* =========================================================== section 6 ============================================================= */
.section6-parent
{
    margin-top: -30px;
}
.sec6-child
{
    width: 25%;
    height: 450px;
   
    margin-top: 30px;
    position: relative;
    float: left;
    margin-left: 6%;

}
.sec6-pricingdetail
{
    width: 90%;
    height: 200px;
    margin: auto;
    background-color: #455462;
    border-radius: 20px;
    color: #fff;
         box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    /* position: absolute; */


}
.sec6-label , .sec6-price
{
    font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
         text-transform: capitalize;
         padding: 20px;
         font-size: 20px;
}
.sec6-price
{
         font-size: 20px;
         font-weight: 700;
         text-transform: lowercase;

}
.Advantage
{
    width: 80%;
    margin: auto;
    /* height: 170px; */
    margin-left: 32px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    position: absolute;
    margin-top: -130px;
    transition: transform 0.3s ease-in-out;
      transform: scale(1.1);


}
.Advantage:hover 
{
      margin-top: -80px;
}
.Advantage li 
{
    padding-top: 10px;
    
}
.Advantage button
{
    margin: 20px 0 0 20px ;
    border-radius: 10px 10px 0 0 ;
    width: 100px;
    padding-left:0;
    background-color: #455462;
    color: #fff;
    height: 30px;
    border: none;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    
}
.sec6-child:hover  .sec6-child-header
{
    color: #455462;
}
/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* =========================================================== section 7 ============================================================= */
.parentofparent
{
    height: 60%;
    width: 70%;
    background-color: #455462;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    margin: -130px 0 0 200px;

    position: absolute;
}    
.sec7-parent
    {
    position: absolute;
    }
    .sec7-kalam1 , .sec7-kalam2
    {
        color: #fff;
        text-align: center;
        font-size: 30px;
        padding-top: 15px;
    }
    .sec7-kalam1 
    {
        font-size: 40px;

        padding-top: 60px;
    }
    .sec7-parent span{
        color: #98a9be;
        margin-left: 300px;
        font-size: 13px;
        /* opacity: 0.5; */
    }
    .sec7-parent input , .sec7-btn{
        width: 300px;
        height: 30px;
        border-radius: 30px;
        border: none;
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
         padding-left: 10px;
         margin-bottom: 40px;
         margin-left: 230px;
         margin-top: 70px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    }
    .sec7-btn
    {
        width: 100px;
         padding-left:0;
         margin-left:5px;
         background-color: #6f869b;
        color: #fff;
    }
    .sec7-btn:hover 
    {
        cursor: pointer;
    }
/* ----------------------------------------------------------------------------------------------------------------------------------- */


/* =========================================================== Last ============================================================= */

.container-last
{
    width: 100%;
    /* height: 45vh; */

    background-color: #728495;
    padding-top: 40px;
    border-radius: 20px 20px 0 0;
}

.container-last i
{
    
    width: 35px;
    height: 35px;
    font-size: 15px;
    padding-top: 10px;
    background-color: #455462;
    border-radius: 50%;
    color: #fff;
    margin-left: 5px;
    margin-top: 15%;
}
.container-last .fa-facebook-f
{
    margin-left: 41.5%;
}
.container-last i:hover 
{
    background-color: #b6b6b6;
}
.container-last p
{
    text-align: center;
    margin-top:9px;
    font-size: 15px;
    color: #b6b6b6;

}